<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">
        <img src="images/logo/logo.png" style="width: 70px; height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="index.html"> <i class="fas fa-house-user"></i>  Home </a>
        <a class="nav-item nav-link" id="contact" href="Contact.html"><i class="fas fa-file-signature"></i> Contact</a>
        <a class="nav-item nav-link" id="projects" href="Projects.html"><i class="fas fa-project-diagram"></i> Projects</a>
        
        
      </div>
    </div>
  </nav>