<aside class="asideContent">
    <img src="images/logo/me.jpg">
    <p class="info" id="name"></p>
    <p class="info" id="title"></p>
    <p class="info" id="location"></p>


  </aside>
  <section class="sectionContent">
    <table>
        <thead>
            <tr>
                <th>Contact Info</th>
                <th>Links</th>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td class="info"></td>
                <td ><a class="links" href="https://ca.linkedin.com/in/veysel-boybay-70869213b" target="_blank">LinkedIn</a></td>
                
            </tr>
            <tr>
                <td class="info"></td>
                <td ><a class="links" href="https://veyselboybay.github.io/COMP125-Assignment-2/" target="_blank">GitHub Page</a></td>
            </tr>
            
            
        </tbody>
    </table>

    <article>
        <h6>A little bit about Veysel Boybay</h6>

        <p class="info" id="aboutme"></p>
        
    </article>

  </section>